*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}
#card{
    height: 350px;
    width: 250px;
    border-radius: 15px;
    /* background-color:aqua; */
    border: 1px black solid;
    text-align: center;
    background-color: white;
}
#card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 40px;
   

}
h2{
    margin-top:-10px ;
}
h3{
    margin: 10px;
    color: red;
}
button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color:darkkhaki;
    color: white;
    font-size: 15px;
    font-weight: 500;
}